.Title {
    color: white;
    background-color: #db460be7;
    padding: 10px;
    text-align: center; }

.subtitle {
    color: white;
    background-color: #eeada1;
    padding: 10px;
    text-align: center; }


 h1 {
        font-family: 'Noto Sans Mono';
    }

 h4 {
        font-family: 'Noto Sans Mono';
    }
    
.p_map{
    background-color: #f1c2b9;
    padding: 10px;
    font-family: 'Roboto',
        sans-serif;
    font-size: 23px;
    line-height: 24px;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 30px;
    padding-top:40px;
}

.p_lie_chart{
    background-color: #f1c2b9;
    padding: 15px;

    font-family: 'Roboto',
        sans-serif;
    font-size: 23px;
    line-height: 24px;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 30px;
    padding-top:0px;
}

.p_heat_map{
    background-color: #f1c2b9;
    padding: 10px;

    font-family: 'Roboto',
        sans-serif;
    font-size: 23px;
    line-height: 24px;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 30px;
    padding-top:10px;
}

.p_bar_chart{
    background-color: #f1c2b9;
    padding: 10px;

    font-family: 'Roboto',
        sans-serif;
    font-size: 23px;
    line-height: 24px;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 30px;
    padding-top:20px;
}

.description-right {
        padding-left: 20px;
    }

.description-left {
        padding-right: 20px;
    }

.vis-container {
        width: 100%;
}